<?xml version="1.0"?>

<model>
  <name>calibration_board</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Wj</name>
    <email>Wj@Wj</email>
  </author>

  <description>
    A calibration_board, size: 0.5*0.5*0.1m, 0.625m per grid side length.
  </description>
</model>
