<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="humanoid">
    <xacro:arg name="initial_positions_file" default="$(find robot_description)/config/initial_positions.yaml" />
    <xacro:arg name="use_gazebo" default="false"/>

    <!-- Import humanoid urdf file -->
    <xacro:include filename="humanoid.urdf" />
    
    <xacro:include filename="camera_optical_link.xacro"/>
    <xacro:camera_optical_link/>

    <xacro:if value="$(arg use_gazebo)">
      <!-- gazebo 仿真 -->
      <xacro:include filename="humanoid.gazebo.ros2_control.xacro" />
      <xacro:humanoid_gazebo_ros2_control name="GazeboSystem" initial_positions_file="$(arg initial_positions_file)"/>
      
      <!-- 包含 Gazebo 配置 -->
      <xacro:include filename="humanoid.gazebo.xacro"/>
      <xacro:robot_gazebo/>
      
    </xacro:if>
    
    <xacro:unless value="$(arg use_gazebo)">
      <!-- 实机 -->
      
      <!-- Import control_xacro -->
      <xacro:include filename="humanoid.ros2_control.xacro" />
      
      <xacro:humanoid_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>
    </xacro:unless>

</robot>
