<?xml version="1.0" ?>
<model>
  <name>coffee_mug</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Threshold Porcelain Coffee Mug, All Over Bead, White</description>
</model>
